<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to mission_name, mission_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <p class="visible-xs-block navbar-text">Welcome <strong><%= user_signed_in? ? current_user.email : "guest" %></strong>!</p>
      <ul class="nav navbar-nav">
        <%= yield %>
      </ul>
      <div class="navbar-right">
        <p class="hidden-xs navbar-text">Welcome <strong><%= user_signed_in? ? current_user.email : "guest" %></strong>!</p>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: "DELETE" %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
