<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
    <%= form_with(model: garden, local: true) do |f| %>

      <%= render "shared/text_field", form: f, label: "name" %>
      <%= render "shared/text_field", form: f, label: "location" %>
      <%= render "shared/text_field", form: f, label: "description" %>


      <div class="form-group">
        <%= f.submit class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>