<div class="row">
  <div class="col-xs-12 text-right">
    <p class="no-margin">( <%= link_to "view photos", gardens_path %> | <strong>view list</strong> )</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5">
    <% @gardens.each do |garden| %>
      <h2 class="bottom-margin-0"><%= garden.name %></h2>
      <p><small><%= link_to "map", "https://www.google.com/maps/place/#{garden.location}", :target => :_blank %> | <%= link_to "view", garden %> | <%= link_to "edit", [:edit, garden] %></small></p>
      <%= content_tag :p, garden.description %>
      <h6>All Reports:</h6>
      <% @garden_reports[garden.id].each do |report| %>
        <div class="row bottom-margin-10">
          <div class="col-xs-4">
            <%= image_tag report.photo.url, class: "img-responsive" %>
          </div>
          <div class="col-xs-8">
            <p>
              <%= report.created_at.to_date %><br>
              <%= report.notes %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>