<%= form_for(@garden_report, html: { multipart: true }, local: true) do |form| %>
  <% if garden_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garden_report.errors.count, "error") %> prohibited this garden_report from being saved:</h2>

      <ul>
      <% garden_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :garden_report_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
