<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @garden_report.notes %>
</p>

<p>
  <strong>Garden:</strong>
  <%= @garden_report.garden %>
</p>

<%= link_to 'Edit', edit_garden_report_path(@garden_report) %> |
<%= link_to 'Back', garden_reports_path %>
