<%= image_tag @garden_report.photo.url %>
<p>
  <strong>Notes:</strong>
  <%= @garden_report.notes %>
</p>

<p>
  <strong>Garden:</strong>
  <%= @garden_report.garden.name %>
</p>

<%= link_to 'Edit', edit_garden_report_path(id: @garden_report.id, garden_id: @garden_report.garden_id) %> |
<%= link_to 'Back', garden_reports_path %>
